  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-family: ; */

    /* CSS HEX */
/* CSS HEX */
--ink-black: #001219ff;
--dark-teal: #005f73ff;
--dark-cyan: #0a9396ff;
--pearl-aqua: #94d2bdff;
--vanilla-custard: #e9d8a6ff;
--golden-orange: #ee9b00ff;
--burnt-caramel: #ca6702ff;
--rusty-spice: #bb3e03ff;
--oxidized-iron: #ae2012ff;
--brown-red: #9b2226ff;

  }
body{
    background-color: var(--ink-black);
    color: var(--golden-orange);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1{
    width: 100vw;
    background-color:  var(--brown-red);
    /* height: 70px; */
    text-align: center;
    padding: 20px;
}

#tela-placar{
    background-color:  var(--brown-red);
    color: black;
    width: 90%;
    height: 70vh;
    margin: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--vanilla-custard);
}

#placar-esquerda, #placar-direita{
    background-color: var(--vanilla-custard);
    height: 80%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 250px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--vanilla-custard);
}
#x{
    font-size: 250px;
}

#placar-meio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cronometro{
    font-size: 50px;
}

.icone-placar{
    width: 50px;
}
.bt-placar{
    width: 90%;
    border: none;
    background-color: var(--vanilla-custard);
    box-shadow: 0 0 5px var(--ink-black);
    border-radius: 10px;
    padding: 5px;
}


.bt-placar:hover{
    box-shadow: 0 0 10px var(--oxidized-iron);
    
}
#icone-reset{
    width: 50px;
}
#bt-reset{
    width: 90%;
    border: none;
    background-color: var(--vanilla-custard);
    box-shadow: 0 0 5px var(--ink-black);
    border-radius: 10px;
    padding: 5px;
    
}

